* {
  box-sizing: border-box;
}

body{
	border: solid; 
	background-color: #777;
	width: 960px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
	color: #777;
}

header{
	border: solid black; 
	background-color: #ebebeb;

}

nav{
	border: solid black;
	background-color: #ebebeb;
}

footer{
	border: solid black;
	background-color: #ebebeb;
}

section{
	border: solid black;
	background-color: #ebebeb;
	width: 495px;
}

aside{
	border: solid black;
	background-color: #ebebeb;
}

article{
	border: solid black;
	background-color: #ebebeb;
}

.clear {}

h1{
	border: solid black;
}

h2{
	border: solid black;
}

h3{
	border: solid black;
}

